# Configuración de Servidor
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Base de Datos (PostgreSQL en Supabase / Local)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_muller?schema=public"

# Seguridad y Autenticación JWT
JWT_SECRET="super_secret_jwt_key_erp_muller_2026_secure_key"
JWT_EXPIRES_IN="7d"
